{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Digital Club</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<header id='header' class="header">
		<div class="header__container __container">
			<div class='header__menu menu'>
				<a href="/" class="orange-text-lg menu-logo">
					<img class="menu-logo_img" src="../static/img/logo.png" alt="">
					<h1>Digital Club</h1>
				</a>
				<nav class="menu__body">
					<ul class="menu__list">
						<li class="menu__item orange-text-lg"><a href="/games/">Список игр</a></li>
						<li class="menu__item orange-text-lg"><a href="/devices/">Устройства</a></li>
						<li class="menu__item orange-text-lg"><a href="/">Контакты</a></li>
						<li class="menu__item orange-text-lg"><a href="/login">Авторизация</a></li>
					</ul>
				</nav>
				<button type='button' class='menu__icon icon-menu'>
					<span></span>
				</button>
			</div>
		</div>
	</header>

	<section class="games">
		<div class="games__container __container">
			<div class="games__categories">
				<a href="/games/"><button class="btn-genre">Все</button></a>
				{% for genre in genres %}
				<a href="/games/?genre={{genre}}"><button class="btn-genre">{{ genre }}</button></a>
				{% endfor %}
			</div>
			<h1 class="games__title">Список игр</h1>
			<div class="games__content">
				{% for game in games %}
				<div class="games__item">
					<a class="games__link" href="/game_detail/{{game.pk}}/">
						<img class='games__img' src="{{game.photo.url}}" alt="">
						<p class="games__name">{{game.name}}</p>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="block">
			<div class="content">
				<div class="option">
					<a href="/" class="logo">
						Digital Club
					</a>
				</div>
				<div class="contacts">
					<div class="phones">
						<div class="phone">+724-961</div>
						<a href="tel:+724961" class="open-modal js-analytics">
							<span>Заказать звонок</span>
						</a>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="social">
					<div class="name">
						<span>Digital Club</span> Казань
					</div>
					<div class="address">г.&nbsp;Казань, <br> ул. Городская, 5В
					</div>

				</div>
				<div class="social">
					<div class="name">
						<span>Digital Club</span> Ижевск
					</div>
					<div class="address">г.&nbsp;Ижевск, <br> ул. 7-я подлесная, 96</div>

				</div>
				<div class="social">
					<div class="name">
						<span>Digital Club</span> Киров
					</div>
					<div class="address">г.&nbsp;Киров, <br> ул. Розы Люксембург, 30</div>

				</div>
			</div>
			<div class="content">
				<ul>
					<li>
						<div class="open-modal">
							<span>© 2023 Digital Club, All rights reserved.</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<script>
		var header = document.getElementById('header');
		var headerOffset = header.offsetTop;

		function handleScroll() {
			var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

			if (scrollPosition >= headerOffset) {
				header.classList.add('fixed');
			} else {
				header.classList.remove('fixed');
			}
		}

		function handleWheel() {
			var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

			if (scrollPosition === 0) {
				header.classList.remove('fixed');
			}
		}

		window.addEventListener('scroll', handleScroll);
		window.addEventListener('wheel', handleWheel);

		const ys = document.querySelector(".icon-menu");
		if (ys) {
			var Ss = document.querySelector(".menu__body");
			ys.addEventListener("click", (function (e) {
				ys.classList.toggle("_active"),
					Ss.classList.toggle("_active")
			}
			))
		}
	</script>
</body>

</html>