{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Digital Club</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="wrapper">
    <header id="header" class="header">
      <div class="header__container __container">
        <div class="header__menu menu">
          <a href="/" class="orange-text-lg menu-logo">
            <img class="menu-logo_img" src="../static/img/logo.png" alt="">
            <h1>Digital Club</h1>
          </a>
          <nav class="menu__body">
            <ul class="menu__list">
              <li class="menu__item orange-text-lg"><a href="/games/">Список игр</a></li>
              <li class="menu__item orange-text-lg"><a href="/devices/">Устройства</a></li>
              <li><button class="menu__item orange-text-lg" onclick="scrollToSection('contacts')">Контакты</button></li>
              {% if request.user.is_authenticated %}
              <li class="menu__item orange-text-lg"><a href="logout/">Выход</a></li>
              {% else %}
              <li class="menu__item orange-text-lg"><a href="login/">Авторизация</a></li>
              {% endif %}
            </ul>
          </nav>
          <button type='button' class='menu__icon icon-menu'>
            <span></span>
          </button>
        </div>
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} style="height:50px; font-size:20px; text-align:center; font-weight: bold;"
          class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    </header>
    <main class="page">
      <section class="section-hero">
        <div class="hero-block">
          <div class="hero-content">
            <div class="hero-title">Компьютерный клуб Digital Club</div>
            <h1 class='hero-main-text'>Выигрывай чаще и получай удовольствие
              <span class="purple-text">от компьютерных игр</span>
            </h1>
            <div class='hero-footer-text'>Мы обо всем позаботились</div>
            <button type="button" onclick="openModal()" class="btn-zabr open-modal js-analytics">
              <span class="btn-name">Забронировать место</span>
              <span class="flare"></span>
              <span class="btn-lines">
                <span class="btn-line"></span>
                <span class="btn-line"></span>
              </span>
            </button>

            <div id="myModal" class="modal" onclick="closeModal(event)">
              <div class="modal-wrapper">
                <div class="modal-content">
                  <span class="close popup__close" onclick="closeModal(event)">&times;</span>

                  <h1 class="popup__title">Забронировать место</h1>
                  <form method="POST" class="popup__form" id="popup-form" action="/reservation/">
                    {% csrf_token %}
                    <div class="popup__item">
                      <label class="popup__label" for="time">Тариф</label>
                      <div class="select">
                        <select class='popup__select' name="tarif" id="tarif">
                          <option value="STANDARD">Standard</option>
                          <option value="VIP">VIP</option>
                          <option value="CYBERSPORT">Cybersport</option>
                          <option value="STREAMER">Streamer</option>
                        </select>
                      </div>
                    </div>

                    <style>
                      ::-webkit-calendar-picker-indicator {
                        filter: invert(1);
                      }
                    </style>
                    <div class="popup__item">
                      <div class="popup__item">
                        <label class="popup__label" for="from">От скольки</label>
                        <input class="popup__input" type="datetime-local" id="from" style="" name="from"
                          min="{{ today_date }}" max="" required>
                      </div>
                      <div class="popup__item">
                        <label class="popup__label" for="to">До скольки</label>
                        <input class="popup__input" type="datetime-local" id="to" style="" name="to"
                          min="{{ today_date }}" max="" required>
                      </div>
                    </div>
                    <div class="popup__item">
                      <label class="popup__label" for="guests">Количество людей</label>
                      <input class="popup__input" type="number" id="guests" name="guests" min="1" max="10" value="1"
                        required="">
                    </div>

                    <!-- <div class="popup__item">
                    <label class="popup__label" for="question">Ваш вопрос</label>
                    <textarea class="popup__input popup__input_question" rows="5" cols="50" type="text" id="question"
                      name="question"></textarea>
                  </div> -->
                    <!-- <a class="auth__fp" href="#">Forgot Password?</a> -->
                    <button class="popup__btn" type="submit">Забронировать</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="desctop only-medium">
            <img width="100" height="100" title="" alt="" class="lazy only-medium lazyloaded"
              src="../static/img/index-sc1-flash.png">
          </div>
        </div>
      </section>
      <div class="section section-second">
        <div class="block">
          <div class="items">
            <div class="item">
              <img src="../static/img/index-sc2-icon-1.png" title="#" alt="#">
              <div class="name">115&nbsp;мощных игровых компьютеров +&nbsp;PS5</div>
            </div>
            <div class="item">
              <img src="../static/img/index-sc2-icon-2.png" title="#" alt="#">
              <div class="name">Pro периферия</div>
              <div class="text">HyperX, Logitech</div>
            </div>
            <div class="item">
              <img src="../static/img/index-sc2-icon-3.png" title="#" alt="#">
              <div class="name">3&nbsp;клуба</div>
              <div class="text">
                <div class="tip">м. Преображенская площадь
                  <br> м. Бабушкинская
                  <br> м. Октябрьское Поле

                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/img/index-sc2-icon-4.png" title="#" alt="#">
              <div class="name">Работаем круглосуточно</div>
              <div class="text">В&nbsp;том числе в&nbsp;выходные и&nbsp;новогоднюю ночь</div>
            </div>
          </div>
        </div>
        <div class="logos">
          <img width="100" height="100" src="../static/img/logo-apex.svg" alt="" class="lazy lazyload" />
          <img width="100" height="100" src="../static/img/logo-dota.svg" alt="" class="lazy lazyload" />
          <img width="100" height="100" src="../static/img/logo-fifa.svg" alt="" class="lazy lazyload" />
          <img width="100" height="100" src="../static/img/logo-warface.svg" alt="" class="lazy lazyload" />
          <img width="100" height="100" src="../static/img/logo-warzone.svg" alt="" class="lazy lazyload" />
          <img width="100" height="100" src="../static/img/logo-cs.svg" alt="" class="lazy lazyload" />
        </div>
      </div>
      <div class="section section-third">
        <div class="block">
          <div class="img only-medium">
            <div class="animation animated">
              <img width="100" height="100" src="../static/img/index-sc3-lightning.png" title="#" alt="#"
                class="lazy lazyloaded">
            </div>
          </div>
          <div class="images only-medium">
            <img width="100" height="100" src="../static/img/index-sc3-pic-1.png" title="" alt=""
              class="lazy lazyloaded hidden-img">
            <img width="100" height="100" src="../static/img/index-sc3-pic-2.png" title="" alt=""
              class="lazy lazyloaded hidden-img">
            <img width="100" height="100" src="../static/img/index-sc3-pic-3.png" title="" alt=""
              class="lazy lazyloaded hidden-img">
          </div>
          <div class="content">
            <div class="title">Digital Club</div>
            <div class="text">
              <p>
                Это целое сообщество, где&nbsp;каждый киберклуб семья,
                а&nbsp;люди единомышленники, с&nbsp;которыми ты&nbsp;можешь поиграть,
                обсудить новости, поделиться достижениями или&nbsp;посмотреть
                прямую трансляцию турнира.
              </p>
              <p>
                ﻿Это место, куда приходят, чтобы полностью расслабиться
                и&nbsp;отключить мозг от&nbsp;бытовых и&nbsp;рабочих проблем.
                И&nbsp;провести время за&nbsp;тем, что&nbsp;действительно нравится.
              </p>
            </div>
          </div>
        </div>
      </div>
      <section class="section-ninth">
        <div class="block">
          <h2 data-when="span" data-from="1" data-to="0" data-opacity="0" data-translatey="200"
            class="h2 scrollme-class animateme scrollme">
            Играй с&nbsp;максимальным
            <span class="font">комфортом</span>
          </h2>
          <div data-when="span" data-from="0.5" data-to="0" data-opacity="0" data-translatey="200"
            class="items scrollme-class animateme scrollme">
            <div data-modal="game" class="item open-modal js-analytics">
              <img width="100" height="100" src="../static/img/index-sc9-pic-1.jpg" title="" alt=""
                class="bg lazy lazyloaded">
              <img width="100" height="100" src="../static/img/index-sc9-rows.png" title="" alt=""
                class="lazy rows lazyloaded">
              <div class="content">
                <div class="name">Индивидуальные столы</div>
                <div class="text">Шириной 1&nbsp;метр&nbsp;— при&nbsp;игре не&nbsp;будешь задевать соседей</div>
              </div>
            </div>
            <div data-modal="game"
              data-additional="Блок 9: Специальные геймерские кресла (Модалка: Почувствуй комфорт от игры в iziPlay)"
              data-analytics="index-sc9-items-2" class="item open-modal js-analytics">
              <img width="100" height="100" src="../static/img/index-sc9-pic-2.jpg" title="" alt=""
                class="bg lazy lazyloaded">
              <img width="100" height="100" src="../static/img/index-sc9-rows.png" title="" alt=""
                class="lazy rows lazyloaded">
              <div class="content">
                <div class="name">Специальные геймерские кресла</div>
                <div class="text">
                  С&nbsp;подголовниками, анатомическими валиками
                  и&nbsp;4D‑подлокотниками. ﻿Ты&nbsp;можешь играть сутками, твоя
                  спина не&nbsp;будет затекать, а&nbsp;руки свисать во&nbsp;время игры
                </div>
              </div>
            </div>
            <div data-modal="game"
              data-additional="Блок 9: Система кондиционирования и вентиляции (Модалка: Почувствуй комфорт от игры в iziPlay)"
              data-analytics="index-sc9-items-3" class="item open-modal js-analytics">
              <img width="100" height="100" src="../static/img/index-sc9-pic-3.jpg" title="" alt="" class=" bg lazy
                lazyloaded">
              <img width="100" height="100" src="../static/img/index-sc9-rows.png" title="" alt=""
                class="lazy rows lazyloaded">
              <div class="content">
                <div class="name">Система кондиционирования и&nbsp;вентиляции</div>
                <div class="text">Без&nbsp;жары, духоты и&nbsp;запахов</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-13">
        <div class="block">
          <div id="sc13" class="offsets"></div>
          <img width="100" height="100" src="../static/img/index-bg13.png?1015" title="#" alt="#" src="#"
            data-when="span" data-from="1" data-to="0" data-opacity="1" data-translatex="-300"
            class="lazy scrollme animateme image only-medium scrollme-class lazyloaded">
          <div data-when="exit" data-from="0.2" data-to="0" data-opacity="1" data-translatex="-200"
            class="title scrollme animateme scrollme-class">
            Стоимость</div>
          <div data-when="span" data-from="0.5" data-to="0" data-opacity="0" data-translatey="200"
            class="scrollme scrollme-class animateme">
            <h2 class="h2">Выбирай зал
              <span class="font">для&nbsp;своих побед</span>
            </h2>
            <div class="information">
              <span></span>
              <span>
                <span>Стоимость</span>
              </span>

            </div>
            <div class="rates">
              <div class="rate">
                <div class="info">
                  <div class="name">Standard</div>
                  <div class="address">
                    <span>Казань (Скоро)</span>
                    <span>Ижевск</span>
                    <span>Киров (Скоро)</span>
                  </div>
                  <div class="text">Обычный тариф в общем зале</div>
                </div>
                <div class="info">
                  <span>100
                  </span>
                  <span>рублей/час</span>
                </div>
              </div>
              <div class="rate">
                <div class="info">
                  <div class="name">VIP</div>
                  <div class="address">
                    <span>Казань (Скоро)</span>
                    <span>Ижевск</span>
                    <span>Киров (Скоро)</span>
                  </div>
                  <div class="text">Играй в отдельной комнате для 4х человек</div>
                </div>

                <div class="info">
                  <span>150
                  </span>
                  <span>рублей/час</span>
                </div>
              </div>
              <div class="rate">
                <div class="info">
                  <div class="name">Cybersport</div>
                  <div class="address">
                    <span>Казань (Скоро)</span>
                    <span>Ижевск</span>
                    <span>Киров (Скоро)</span>
                  </div>
                  <div class="text">Лучшее железо, интернет и девайсы</div>
                </div>

                <div class="info">
                  <span>120
                  </span>
                  <span>рублей/час</span>
                </div>
              </div>
              <div class="rate">
                <div class="info">
                  <div class="name">Streamer</div>
                  <div class="address">
                    <span>Казань (Скоро)</span>
                    <span>Ижевск</span>
                    <span>Киров (Скоро)</span>
                  </div>
                  <div class="text">Комната для одного человека, где мы не контролируем уровень шума</div>
                </div>
                <div class="info">
                  <span>170
                  </span>
                  <span>рублей/час</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="section section-contacts" id='contacts'>
        <div class="block">
          <div id="sc-contacts" class="offsets"></div>
          <div data-when="enter" data-from="1" data-to="0" data-opacity="0" data-translatey="200"
            class="scrollme-class animateme scrollme">
            <div class="h2">Остались
              <span class="font">вопросы?</span>
            </div>
            <div class="subtitle">
              <span class="item">Мы на связи</span>
              <span class="item">
                <span>24/7</span>
                <img width="100" height="100" src="../static/img/dots.png" title="" alt="" class="lazy lazyloaded">
              </span>
            </div>
          </div>
          <div data-when="span" data-from="1" data-to="0" data-opacity="0" data-translatey="200"
            class="contacts scrollme-class animateme scrollme">
            <a href="tel:+724961" class="open-modal js-analytics">
              <span class="icon">
                <svg class="svg svg-icon-ph">
                  <img src="../static/img/phone.svg"></img>
                </svg>
              </span>
              <span class="name">Обратный звонок</span>
              <span class="subname">Заказать обратный звонок</span>
            </a>
          </div>
        </div>
      </div>
      <!-- <section class="section-reviews">
        <div class="block">
          <div class="animation only-medium">
            <div data-when="enter" data-from="0.5" data-to="0" data-opacity="1" data-translatex="-200" data-rotatez="0"
              class="title scrollme animateme scrollme-class"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
              Отзывы</div>
            <img width="100" height="100" src="../static/img/sr-man.png?1015" title="#" alt="#"
              class="lazy img scrollme animateme scrollme-class lazyloaded"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">

          </div>
          <div data-when="span" data-from="0.5" data-to="0" data-opacity="0" data-translatey="400"
            class="scrollme scrollme-class animateme"
            style="opacity: 1; transform: translate3d(0px, 65px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
            <h2 class="h2">Digital Club&nbsp;— место, в&nbsp;которое хочется
              <span class="font">возвращаться снова</span>
            </h2>

            <div id="review-list" class="items">
              <div id="reviews">
                <h2 class='reviews-title'>Оставить отзыв</h2>
                <div></div>
                <form id="review-form">
                  <input type="text" id="name-input" placeholder="Ваше имя" required>
                  <textarea id="message-input" placeholder="Ваш отзыв" required></textarea>
                  <button class='btn-review' type="submit">Отправить</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section> -->


    </main>
    <footer class="footer">
      <div class="block">
        <div class="content">
          <div class="option">
            <a href="/" class="logo">
              Digital Club
            </a>
          </div>
          <div class="contacts">
            <div class="phones">
              <div class="phone">+724-961</div>
              <a href="tel:+724961" class="open-modal js-analytics">
                <span>Заказать звонок</span>
              </a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="social">
            <div class="name">
              <span>Digital Club</span> Казань (Скоро)
            </div>
            <div class="address">г.&nbsp;Казань, <br> ул. Городская, 5В
            </div>

          </div>
          <div class="social">
            <div class="name">
              <span>Digital Club</span> Ижевск
            </div>
            <div class="address">г.&nbsp;Ижевск, <br> ул. 7-я подлесная, 96</div>

          </div>
          <div class="social">
            <div class="name">
              <span>Digital Club</span> Киров (Скоро)
            </div>
            <div class="address">г.&nbsp;Киров, <br> ул. Розы Люксембург, 30</div>

          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              <div class="open-modal">
                <span>© 2023 Digital Club, All rights reserved.</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <script>
    var form = document.querySelector('form');
    var fromInput = document.getElementById('from');
    var toInput = document.getElementById('to');

    // Добавляем обработчик события отправки формы
    form.addEventListener('submit', function (event) {
      // Предотвращаем отправку формы по умолчанию
      event.preventDefault();

      // Получаем значения из полей ввода
      var fromDate = new Date(fromInput.value);
      var toDate = new Date(toInput.value);
      var currentDate = new Date();

      // Проверяем условия запретов
      if (fromDate.getTime() > toDate.getTime()) {
        alert(
          'Некорректный выбор даты и времени! "От скольки" не может быть позже "До скольки".'
        );
        return;
      }

      if (fromDate.toDateString() !== toDate.toDateString()) {
        alert(
          'Некорректный выбор даты и времени! Выбранные дни должны совпадать.'
        );
        return;
      }

      if (fromDate.getTime() < currentDate.getTime()) {
        alert(
          'Некорректный выбор даты и времени! "От скольки" не может быть раньше текущей даты и времени. Либо вы выбрали текущее время'
        );
        return;
      }

      // Если все проверки пройдены, можно отправить форму
      form.submit();
    });
  </script>
  <script>

    var header = document.getElementById('header');
    var headerOffset = header.offsetTop;
    function handleScroll() {
      var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollPosition >= headerOffset) {
        header.classList.add('fixed');
      } else {
        header.classList.remove('fixed');
      }
    }
    function handleWheel() {
      var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollPosition === 0) {
        header.classList.remove('fixed');
      }
    }
    window.addEventListener('scroll', handleScroll);
    window.addEventListener('wheel', handleWheel);


    function scrollToSection(sectionId) {
      const section = document.getElementById(sectionId);
      if (section) {
        section.scrollIntoView({ behavior: 'smooth' });
      }
    }

    function openModal() {
      document.getElementById("myModal").classList.add("show");
      document.body.classList.add("no-scroll");
    }

    // Функция для закрытия модального окна
    function closeModal(event) {
      if (event.target === document.getElementById("myModal") || event.target === document.getElementsByClassName("modal-wrapper")[0] || event.target === document.getElementsByClassName("close")[0]) {
        document.getElementById("myModal").classList.remove("show");
        document.body.classList.remove("no-scroll");
      }
    }


    // // Получение элементов инпутов
    // var timeInput = document.getElementById("time");
    // var dateInput = document.getElementById("datePopup");
    // var guestsInput = document.getElementById("guests");

    // // Установка текущей даты в инпуте даты
    // var currentDate = new Date().toISOString().split("T")[0];
    // dateInput.setAttribute("min", currentDate);

    // // Обработчик события отправки формы
    // document.getElementById("popup-form").addEventListener("submit", function (event) {
    //   // Проверка, если выбрана текущая дата
    //   if (dateInput.value === currentDate) {
    //     // Получение текущего времени
    //     var now = new Date();
    //     var currentTime = now.getHours() + ":" + now.getMinutes();

    //     // Получение выбранного времени
    //     var selectedTime = timeInput.value;

    //     // Сравнение выбранного времени с текущим временем
    //     if (selectedTime < currentTime) {
    //       // Если выбрано время раньше текущего времени, предотвращаем отправку формы
    //       event.preventDefault();
    //       alert("Выберите время, не раньше текущего времени.");
    //     }
    //   }
    // });


    // // Функция для добавления нового отзыва
    // function addReview(name, message) {
    //   var reviewList = document.getElementById("review-list");

    //   // Создание элемента отзыва
    //   var reviewItem = document.createElement("div");
    //   reviewItem.classList.add("item");

    //   // Создание элемента автора
    //   var authorElement = document.createElement("div");
    //   authorElement.classList.add("author");

    //   // Создание элемента имени
    //   var nameElement = document.createElement("div");
    //   nameElement.classList.add("name");
    //   nameElement.textContent = name;

    //   // Добавление элемента имени в элемент автора
    //   authorElement.appendChild(nameElement);

    //   // Создание элемента текста
    //   var textElement = document.createElement("div");
    //   textElement.classList.add("text");

    //   // Создание элемента абзаца для сообщения
    //   var messageElement = document.createElement("p");
    //   messageElement.textContent = message;

    //   // Добавление элемента абзаца в элемент текста
    //   textElement.appendChild(messageElement);

    //   // Добавление элементов автора и текста в элемент отзыва
    //   reviewItem.appendChild(authorElement);
    //   reviewItem.appendChild(textElement);

    //   // Добавление отзыва в список отзывов
    //   reviewList.appendChild(reviewItem);
    // }

    // // Обработчик события отправки формы
    // document.getElementById("review-form").addEventListener("submit", function (event) {
    //   event.preventDefault(); // Предотвращение отправки формы

    //   // Получение значений полей формы
    //   var nameInput = document.getElementById("name-input");
    //   var messageInput = document.getElementById("message-input");
    //   var name = nameInput.value;
    //   var message = messageInput.value;

    //   // Добавление нового отзыва
    //   addReview(name, message);

    //   // Сброс значений полей формы
    //   nameInput.value = "";
    //   messageInput.value = "";
    // });
    const iconMenu = document.querySelector(".icon-menu");
    if (iconMenu) {
      var menuBody = document.querySelector(".menu__body");
      iconMenu.addEventListener("click", function (e) {
        iconMenu.classList.toggle("_active");
        menuBody.classList.toggle("_active");
      });
    }
  </script>


</body>

</html>