{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Digital Club</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style='background-color: #000;'>
	<div class="wrapper">
		<header class="header-auth">
			<a href="/" class="header-auth__title">Digital Club</a>
		</header>
		<main class="page page_black">
			<section class="page__auth auth">
				<div class="auth__container">
					<div class="auth__body">
						<header class="auth__header">
							<h2 class="auth__title">Вход</h2>
						</header>
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
								<li{% if message.tags %} style="color:red;height:50px; width:104%; font-size:20px; text-align:center; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						<form method="POST" class="auth__form" action="/login/">
							{% csrf_token %}
							<div class="auth__item">
								<label class="auth__label" for="username">Имя пользователя</label>
								<input class="auth__input" type="text" id="username" name="username" required>
							</div>
							<div class="auth__item">
								<label class="auth__label" for="password">Пароль</label>
								<input class="auth__input" type="password" id="password" name="password" required>
								<button id="show-password-btn" type="button" class="auth__viewpass"><img
										src="{% static 'img/eye.svg' %}" alt="view password"></button>
							</div>
							<!-- <a class="auth__fp" href="#">Forgot Password?</a> -->
							<button class="auth__btn" type="submit">Войти</button>
							<p class="auth__signup">У вас еще нету аккаунта?</p>
							<a class="auth__signup" href="/signup/"><span class="cr-orange">Зарегистрироваться</span></a>
						</form>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script src="{% static 'js/app.min.js' %}"></script>

</body>

</html>