@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,italic,700,700italic&display=swap);
@import url('null.css');
@import url('ui.css');

.lock body {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

.wrapper > main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

[class*='__container'] {
	max-width: 85.5rem;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 2.25rem;
}
/* HEADER */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;
	overflow: visible;
	transition: background-color 0.3s;
}
.header__container {
}
.header__menu {
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 95px;
}
.menu-logo {
	font-size: 22px;
	display: flex;
	gap: 10px;
	align-items: center;
	transition: opacity 0.3s ease 0s;
}
.menu-logo:hover {
	opacity: 0.7;
}
.menu-logo_img {
	width: 55px;
	height: auto;
}
.menu__body {
}
@media (min-width: 810px) {
	.menu__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}
	.menu__icon {
		display: none;
	}
}

.menu__item {
	font-weight: 400;
	font-synthesis: none;
}
.menu__item:hover {
	color: #fff;
}
.fixed {
	position: fixed;
	top: 0;
	background-color: black;
}
@media (max-width: 810px) {
	.menu__icon {
		display: block;
		position: relative;
		width: 1.875rem;
		height: 1.125rem;
		cursor: pointer;
		z-index: 5;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		content: '';
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: 0.125rem;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 120px 30px 30px 30px;
		-webkit-transition: left 0.3s ease 0s;
		-o-transition: left 0.3s ease 0s;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 90px;
		background-color: #6e0694;
		z-index: 2;
	}
	.menu__list > li:not(:last-child) {
		margin: 0 0 30px 0;
	}

	.orange-text-lg {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.menu-logo {
		z-index: 5;
	}
}
.menu__body._active {
	left: 0;
}
/* HERO */
.section-hero {
	padding: 15.75rem 0 22.5rem;
	color: #fff;
	text-align: center;
	overflow: visible;
	z-index: 100;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.hero-block {
	z-index: 100;
	min-width: 24.375rem;
	max-width: 85.5rem;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.hero-content {
	position: relative;
	z-index: 100;
}
.hero-title {
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
	font-family: Roboto Condensed;
	font-weight: 400;
	font-synthesis: none;
}

.hero-main-text {
	max-width: 48rem;
	padding: 2rem 0;
	margin: 0 auto;
	font-size: 4rem;
	line-height: 5rem;
	font-family: Roboto Condensed;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.purple-text {
	color: #c62fff;
	font-weight: 400;
	font-synthesis: none;
}
.hero-footer-text {
	width: 33.75rem;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: 0.05em;
	margin: 0 auto;
	font-family: Roboto Condensed;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
}
.btn-zabr {
	margin-top: 4rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 1.375rem 1.75rem;
	width: auto;
	display: inline-block;
	color: #000;
	font-weight: 400;
	font-synthesis: none;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	outline: 0;
	border: 0;
	cursor: pointer;
	position: relative;
}
.btn-zabr::before {
	content: '';
	background-color: #fff500;
	border-radius: 0.25rem;
	margin-left: -0.6875rem;
	transform: matrix(0.98, 0, -0.23, 1, 0, 0) translate(-50%, -50%);
	transition: background-color 0.3s;
	width: 100%;
	height: 100%;
	top: 50%;
	position: absolute;
	left: 50%;
}
.btn-zabr:hover:before {
	background-color: #fff;
}

.open-modal {
}
.js-analytics {
}
.btn-name {
	position: relative;
	z-index: 100;
	font-size: Roboto Condensed;
	font-weight: 600;
}
.flare {
}

.desctop {
}
.desctop::before {
	content: '';
	width: 160rem;
	height: 50.625rem;
	background: -o-linear-gradient(top, #000 11.19%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(180deg, #000 11.19%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	top: -15.9375rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}
.desctop img {
	width: 75.5rem;
	height: 18.1875rem;
	min-height: 18.1875rem;
	position: absolute;
	left: 50%;
	bottom: -19.125rem;
	margin-left: -0.75rem;
	transform: translateX(-50%);
	z-index: 50;
}
.desctop::after {
	content: '';
	width: 85.875rem;
	height: 51.875rem;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(54, 10, 70, 0.65) 0,
			#360a46 100%
		),
		url(../static/img/patern.png), #000;
	border: 0.125rem solid #c62fff;
	box-shadow: -4.75rem 0.25rem 15.625rem #711c91,
		inset 0 0.25rem 5.25rem #c62fff;
	border-radius: 0 0 11.25rem 11.25rem;
	position: absolute;
	top: -12.5rem;
	left: 50%;
	margin-top: 1.25rem;
	transform: translateX(-50%) matrix(0.98, 0, -0.23, 1, 0, 0);
	animation: shadow 2.5s linear infinite;
}
.only-medium {
}
.lazy {
}
.lazyloaded {
}

.section {
}
.section-second {
	overflow: visible;
	z-index: 99;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.block {
	min-width: 24.375rem;
	max-width: 85.5rem;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.section-second .block .items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	z-index: 99;
}
.section-second .block .item {
	width: 19.125rem;
	font-size: 1.125rem;
	line-height: 1.5rem;
	text-align: center;
}
.section-second .items .item img {
	width: 10.125rem;
	height: 10.25rem;
	min-height: 10.25rem;
}
@media only screen and (min-width: 768px) {
	.section-second .items .item {
		width: 19.125rem;
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
}
.section-second .items .item {
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.section-second .items .item .name {
		padding-top: 0.875rem;
	}
}
.section-second .items .item .name {
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.section-second .items .item .name {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 600;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.name {
}
.text {
}
@media only screen and (min-width: 768px) {
	.section-second .items .item .text {
		padding-top: 1rem;
	}
}
.section-second .items .item .text {
	color: rgba(255, 255, 255, 0.9);
}
@media only screen and (min-width: 768px) {
	.section-second .logos {
		width: 105%;
		margin-top: 25.875rem;
	}
}
.section-second .logos {
	height: 5rem;
	background-color: #711c91;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-10deg)
		matrix(0.98, 0, -0.18, 1, 0, 0);
}
.section-second .logos img:first-child {
	width: 5.125rem;
	height: 3rem;
	min-height: 3rem;
}
.section-second .logos img:nth-child(2) {
	width: 12.3125rem;
	height: 1.9375rem;
	min-height: 1.9375rem;
}
.section-second .logos img {
	display: block;
}

.section-second .logos img:nth-child(3) {
	width: 6.8125rem;
	height: 2.5rem;
	min-height: 2.5rem;
}
.section-second .logos img:nth-child(4) {
	width: 6.6875rem;
	height: 3rem;
	min-height: 3rem;
}
.section-second .logos img:nth-child(5) {
	width: 8.0625rem;
	height: 2.5rem;
	min-height: 2.5rem;
}
.section-second .logos img:last-child {
	width: 7.8125rem;
	height: 3rem;
	min-height: 3rem;
}
.tip {
}
.tooltip {
}
.logos {
}
.lazy {
}
.lazyload {
}

@media only screen and (min-width: 768px) {
	.section-third {
		padding: 37.5rem 0 28.3125rem;
	}
}
.section-third {
	overflow: visible;
	z-index: 99;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.footer .block,
	.header .block,
	.section .block,
	.section-messenger .block,
	section .block {
		min-width: 24.375rem;
		max-width: 85.5rem;
	}
}
.footer .block,
.header .block,
.section,
.section .block,
.section-messenger .block,
header,
section,
section .block {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.section-third .img {
	width: 87.5rem;
	height: 87.5625rem;
	position: absolute;
	top: -25.4375rem;
	right: -33.75rem;
}
.section-third .img .animation.animated {
	-webkit-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
.section-third .img .animation {
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%) scale(0.5);
	-ms-transform: translate(-50%, -50%) scale(0.5);
	transform: translate(-50%, -50%) scale(0.5);
	-webkit-transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}

.section-third .img .animation,
.section-third .img .animation img {
	width: 87.5rem;
	height: 87.5625rem;
	top: 50%;
	left: 50%;
	position: absolute;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.section-third .img .animation img {
	min-height: 87.5625rem;
	transform: translate(-50%, -50%);
}
.section-third .images img:first-child {
	width: 48.75rem;
	height: 49.25rem;
	min-height: 49.25rem;
	left: -20.8125rem;
	bottom: -34.0625rem;
	-webkit-animation: ani-2 3.5s infinite;
	animation: ani-2 3.5s infinite;
}
.section-third .images img {
	position: absolute;
}
.section-third .images img:nth-child(2) {
	width: 43.4375rem;
	height: 43.75rem;
	min-height: 43.75rem;
	top: -27.625rem;
	right: 17rem;
	-webkit-animation: ani-1 3s infinite;
	animation: ani-1 3s infinite;
}
.section-third .images img:last-child {
	width: 87.5rem;
	height: 87.5625rem;
	min-height: 87.5625rem;
	top: -25.4375rem;
	right: -33.75rem;
}
@media only screen and (min-width: 768px) {
	.section-third .content {
		width: 41.25rem;
		padding-left: 7.375rem;
	}
}
@media only screen and (min-width: 768px) {
	.section-third .content .title {
		font-size: 8rem;
		line-height: 8rem;
	}
}
.section-third .content .title {
	color: #fff500;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.section-reviews .animation .title,
.section-third .content .title {
	font-family: Roboto, Arial, sans-serif;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-weight: 400;
}

@media only screen and (min-width: 768px) {
	.section-third .content .text {
		font-size: 1.5rem;
		line-height: 2rem;
		padding-top: 3rem;
	}
}
.section-third .content .text p:first-child {
	padding-top: 0;
}
.section-third .content .text p {
	padding-top: 2rem;
}
@media only screen and (min-width: 768px) {
	.section-ninth {
		padding: 0rem 0 5rem;
	}
}
@media only screen and (min-width: 768px) {
	.h2 {
		font-size: 4.5rem;
		line-height: 4.5rem;
	}
}
.h2 {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
}
.calc-progress .step .num span,
.h1,
.h2 {
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.section-ninth .h2 .font {
	color: #c62fff;
	display: block;
}
.h2 .font {
	font-family: Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.h1 .font,
.h2 .font {
	color: #c62fff;
	font-weight: 400;
	font-synthesis: none;
	-moz-osx-font-smoothing: grayscale;
}
.section-ninth {
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.section-ninth .items {
		width: 70.75rem;
		display: flex;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 768px) {
	.section-ninth .items .item {
		width: 21.5625rem;
		height: 33.875rem;
		margin-top: 4rem;
	}
}
.section-ninth .items .item {
	border: 0.125rem solid #c62fff;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
}

.section-ninth .items .item:before {
	background: -o-linear-gradient(bottom, #c62fff, #c62fff),
		-o-linear-gradient(73.92deg, #000 8.41%, #000 67.09%);
	background: -o-linear-gradient(
			bottom,
			rgba(198, 47, 255, 0.1),
			rgba(198, 47, 255, 0.1)
		),
		-o-linear-gradient(73.92deg, #000 8.41%, rgba(0, 0, 0, 0) 67.09%);
	background: linear-gradient(
			0deg,
			rgba(198, 47, 255, 0.1),
			rgba(198, 47, 255, 0.1)
		),
		linear-gradient(16.08deg, #000 8.41%, rgba(0, 0, 0, 0) 67.09%);
	z-index: 40;
}
.section-ninth .items .item:after,
.section-ninth .items .item:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bg {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 0;
	top: 0;
	left: 0;
}
#gmap,
#gmap-modal,
.bg,
.flare,
.flare:before,
.offsets,
.tip .tooltip,
.tip .tooltip:after,
.tip .tooltip:before {
	position: absolute;
}
.section-ninth .items .item .rows {
	width: 41.625rem;
	height: 20rem;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 50;
}
@media only screen and (min-width: 768px) {
	.section-ninth .items .item .content {
		padding: 1.5rem 2rem;
	}
}
.section-ninth .items .item .content {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
}
.section-ninth .items .item .content .name {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-shadow: 0 0.25rem 0.75rem rgba(235, 0, 255, 0.5),
		0 0.25rem 1.75rem #f367ff;
}
.section-contacts .contacts a .name,
.section-contacts .subtitle .item:last-child,
.section-gmap .map .content .navigation .nav,
.section-ninth .items .item .content .name,
.section-seventh .content .left .subname {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.section-ninth .items .item .content .text {
	color: rgba(255, 255, 255, 0.9);
	padding-top: 0.75rem;
}
.section-ninth .items .item:after {
	-webkit-box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
	box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
	z-index: 45;
	-webkit-transition: -webkit-box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.section-ninth .items .item:after,
.section-ninth .items .item:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.section-contacts {
	overflow: visible;
	padding: 10rem 0 10rem;
	z-index: 99;
}
.section-contacts .h2 {
	color: #fff;
	text-align: center;
}
.footer .content:first-child .contacts .socials a span,
.footer .content:nth-child(2) .social .name,
.section-contacts .contacts a .name,
.section-contacts .h2,
.section-contacts .subtitle .item:last-child,
.section-gmap .h2 {
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.section-contacts .h2 .font {
	color: #fff500;
}
.section-contacts .subtitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
	.section-contacts .subtitle .item:first-child {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
.section-contacts .subtitle .item {
	position: relative;
}
.section-contacts .subtitle .item:last-child {
	color: #fff500;
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-left: 1rem;
}

contacts .subtitle .item:last-child,
.section-gmap .h2 {
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.section-contacts .contacts a .name,
.section-contacts .subtitle .item:last-child,
.section-gmap .map .content .navigation .nav,
.section-ninth .items .item .content .name,
.section-seventh .content .left .subname {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.section-contacts .subtitle .item span {
	position: relative;
	z-index: 100;
}
.section-contacts .subtitle .item img {
	width: 7.6875rem;
	height: 6.75rem;
	min-height: 6.75rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.section-contacts .subtitle .item {
	width: 10rem;
}
@media only screen and (min-width: 768px) {
	.section-contacts .contacts {
		width: 68.375rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: center;
		margin: 0 auto;
		align-items: center;
	}
}
.section-contacts .contacts {
	text-align: center;
	padding-top: 2rem;
}
@media only screen and (min-width: 768px) {
	.section-contacts .contacts a {
		width: 22.75rem;
	}
}
.section-contacts .contacts a {
	position: relative;
	padding: 1.5rem;
	color: #000;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	background-color: transparent;
}

@media only screen and (min-width: 768px) {
	.section-contacts .contacts a:before {
		width: 100%;
	}
}
.section-contacts .contacts a:before {
	content: '';
	height: 100%;
	width: 100%;
	background-color: #fff500;
	border-radius: 0.25rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) matrix(0.98, 0, -0.23, 1, 0, 0);
	-ms-transform: translate(-50%, -50%) matrix(0.98, 0, -0.23, 1, 0, 0);
	transform: translate(-50%, -50%) matrix(0.98, 0, -0.23, 1, 0, 0);
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.section-contacts .contacts a:before:hover {
	background-color: #fff;
}
.section-contacts .contacts a .icon {
	width: 3rem;
	height: 2rem;
	margin: 0 auto;
}
.section-contacts .contacts a span {
	display: block;
	position: relative;
	z-index: 100;
}
.section-contacts .contacts a .icon svg {
	width: auto;
	height: 2rem;
	min-height: 2rem;
	fill: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.section-contacts .contacts a .icon img {
	height: 32px;
	width: 30px;
}
.section-contacts .contacts a .name {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding-top: 1rem;
	transform: matrix(0.98, 0, -0.23, 1, 0, 0);
}
.footer .content:first-child .contacts .socials a span,
.footer .content:nth-child(2) .social .name,
.section-contacts .contacts a .name,
.section-contacts .h2,
.section-contacts .subtitle .item:last-child,
.section-gmap .h2 {
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.section-contacts .contacts a .name,
.section-contacts .subtitle .item:last-child,
.section-gmap .map .content .navigation .nav,
.section-ninth .items .item .content .name,
.section-seventh .content .left .subname {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.section-contacts .contacts a span {
	display: block;
	position: relative;
	z-index: 100;
}
@media only screen and (min-width: 768px) {
	.section-contacts .contacts a .subname {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
.section-contacts .contacts a .subname {
	color: #000;
	color: rgba(0, 0, 0, 0.9);
	-webkit-transform: matrix(0.98, 0, -0.23, 1, 0, 0);
	-ms-transform: matrix(0.98, 0, -0.23, 1, 0, 0);
	transform: matrix(0.98, 0, -0.23, 1, 0, 0);
}
.section-contacts .contacts a span {
	display: block;
	position: relative;
	z-index: 100;
}
.footer {
	position: relative;
	z-index: 120;
}
footer {
	display: block;
}
.footer .content:first-child {
	position: relative;
	z-index: 100;
}
@media only screen and (min-width: 768px) {
	.footer .content {
		display: flex;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media only screen and (min-width: 768px) {
	.footer .content:first-child .option {
		width: 28.125rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media only screen and (min-width: 768px) {
	.footer .content:first-child .option .logo {
		height: 3.4375rem;
	}
}
.footer .content:first-child .option .logo {
	color: #fff500;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
	.footer .content:first-child .contacts {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.footer .content:first-child .contacts .phones {
	position: relative;
	z-index: 100;
}
.footer .content:first-child .contacts .phones .phone {
	color: #fff;
	font-size: 1.125rem;
	line-height: 1.5rem;
}
.footer .content:first-child .contacts .phones .phone,
.footer .content:first-child .contacts .socials a span,
.footer .content:nth-child(2) .social .name {
	font-family: Roboto, Arial, sans-serif;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.footer .content:first-child .contacts .phones .open-modal {
	color: #fff500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 0.125rem;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
.footer .content:first-child .contacts .phones .open-modal span {
	border-bottom: 0.0625rem dashed #fff500;
	-webkit-transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	transition: border-color 0.3s;
}
@media only screen and (min-width: 768px) {
	.footer .content:nth-child(2) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 3rem 0;
		margin-top: 3rem;
	}
}
.footer .content:nth-child(2),
.footer .content:nth-child(3) {
	border-top: 0.0625rem solid rgba(255, 255, 255, 0.15);
}
@media only screen and (min-width: 768px) {
	.footer .content {
		display: flex;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media only screen and (min-width: 768px) {
	.footer .content:nth-child(2) .social {
		width: 22.875rem;
	}
}
.footer .content:nth-child(2) .social {
	position: relative;
}
.footer .content .social:not(:last-child)::before {
	content: '';
	width: 0.125rem;
	height: 100%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	top: 50%;
	right: -3rem;
	-webkit-transform: rotate(12deg) translateY(-50%);
	-ms-transform: rotate(12deg) translateY(-50%);
	transform: rotate(12deg) translateY(-50%);
}

.footer .content:nth-child(2) .social .name {
	font-size: 1.125rem;
	line-height: 1.5rem;
}
.footer .content:first-child .contacts .phones .phone,
.footer .content:first-child .contacts .socials a span,
.footer .content:nth-child(2) .social .name {
	font-family: TacticSans-Bld, Arial, sans-serif;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.footer .content:first-child .contacts .socials a span,
.footer .content:nth-child(2) .social .name,
.section-contacts .contacts a .name,
.section-contacts .h2,
.section-contacts .subtitle .item:last-child,
.section-gmap .h2 {
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.footer .content:nth-child(2) .social .name span {
	color: #fff500;
	display: block;
}
.footer .content:nth-child(2) .social .address {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	font-size: 1rem;
	line-height: 1.25rem;
	padding: 1rem 0;
}
@media only screen and (min-width: 768px) {
	.footer .content:nth-child(3) {
		padding: 3rem 0;
	}
}
.footer .content:nth-child(2),
.footer .content:nth-child(3) {
	border-top: 0.0625rem solid rgba(255, 255, 255, 0.15);
}
@media only screen and (min-width: 768px) {
	.footer .content:nth-child(3) ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.footer .content:nth-child(3) ul {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.footer .content:nth-child(3) ul li {
		width: 47%;
	}
}
.footer .content:nth-child(3) ul li .open-modal {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	font-size: 1rem;
	line-height: 1.25rem;
	-webkit-transition: color 0.3s, border-color 0.3s;
	-o-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	opacity: 0.9;
}
/* DEVICES */

.devices {
	padding-top: 150px;
	padding-bottom: 50px;
}
.devices__container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.devices__title {
	text-align: center;
	color: #fff500;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.devices__item {
	display: flex;
	border: 1px solid #fff500;
	height: 350px;
}
.devices__img {
	width: 412px;
	height: auto;
	border-right: 1px solid #fff500;
	box-shadow: 0 0 10px rgba(255, 245, 0, 0.5);
}
.devices__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 50%;
	padding: 20px;
	box-shadow: 0 0 10px rgba(255, 245, 0, 0.5);
}
.devices__name {
	text-align: center;
	font-size: 25px;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	color: #fff500;
	font-weight: 400;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.decies__description {
	font-weight: 400;
	line-height: 1.2;
	font-size: 20px;
}
.devices__categories {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);
	padding-bottom: 40px;
}
/* GAMES */
.games {
	padding-top: 150px;
	padding-bottom: 50px;
}
.games__container {
	display: flex;
	flex-direction: column;
}

.games__categories {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);
	padding-bottom: 40px;
}
.btn-genre {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	border-radius: 5px;
	background-color: #fff500;
	height: 40px;
	font-size: 18px;
	color: #000;
	font-weight: 500;
	box-shadow: 0 0 10px rgba(255, 245, 0, 0.5);
	font-family: Roboto Condensed;
	transition: background-color 0.3s ease 0s;
}
.btn-genre:hover {
	background-color: #fff;
}

.games__title {
	padding: 40px 0px 40px;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	font-family: Roboto Condensed;
}
.games__content {
	border: 0.0625rem solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}
.games__item {
	width: 100%;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);
	transition: box-shadow 0.2s ease 0s;
}

.games__item:hover {
	-webkit-box-shadow: inset 0 0.25rem 5rem rgba(255, 245, 0, 0.4);
	box-shadow: inset 0 0.25rem 5rem rgba(255, 247, 0, 0.678);
}
.games__link {
	height: 100%;
	display: inline-flex;
	align-items: center;
	width: 100%;
	gap: 10px;
}
.games__img {
	width: 110px;
	height: 100px;
	border-radius: 5px;
	object-fit: cover;
}
.games__name {
	font-family: Roboto Condensed;
	font-size: 1.7rem;
	font-weight: 200;
}
.header-auth {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 32px 0 0;
}

.header-auth__title {
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
	border-radius: 5px;
	padding: 0.3125rem;
	color: #fff500;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.header-auth__title:hover {
	opacity: 0.7;
}

.page_black {
	background-color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.auth {
	max-width: 400px;
	width: 100%;
}

.auth__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 540px;
	color: #000;
}

.auth__header {
	line-height: 1.5;
	text-align: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.auth__title {
	font-size: 2rem;
	color: #2d333a;
	margin-bottom: 0.625rem;
	color: #fff500;
	font-weight: 700;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.auth__form {
	width: 100%;
	text-align: center;
	color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.auth__item {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	position: relative;
}

.auth__item:not(:last-child) {
	margin-bottom: 1rem;
}

.auth__item:last-of-type {
	margin-bottom: 0;
}

.auth__label {
	margin-bottom: 0.3125rem;
	font-size: 0.875rem;
	color: #fff;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: Roboto Condensed;
}

.auth__input {
	height: auto;
	width: 100%;
	outline: 0;
	-webkit-transition: border-color 0.2s ease-in-out,
		-webkit-box-shadow 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out,
		-webkit-box-shadow 0.2s ease-in-out;
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding: 1rem;
	color: #fff !important;
	text-align: left;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border: 0.0625rem solid rgba(255, 255, 255, 0.25);
	border-radius: 0.5rem;
	background-color: transparent;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
}

.auth__input_pass {
	font-size: 1rem;
}

.auth__input:focus {
	-webkit-box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
	box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
	border-color: #ff9d00;
}

.auth__viewpass {
	position: absolute;
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	top: 62.5%;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s;
	transition: opacity 0.3s ease 0s, background-color 0.3s ease 0s;
	width: 40px;
	height: 58px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.auth__viewpass:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

.auth__viewpass img {
	width: 1.125rem;
}

.auth__fp {
	color: #ec9200;
	margin-top: 16px;
	padding-left: 4px;
	line-height: 1.5;
	font-size: 0.875rem;
}

.auth__btn {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff500;
	color: #000;
	border-radius: 0.25rem;
	min-height: 3.25rem;
	font-size: 1rem;
	line-height: 1.25rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-weight: 600;
	font-family: Roboto Condensed;
	margin-top: 1.5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	width: 100%;
	-webkit-transition: background-color 0.25s ease-in-out,
		-webkit-box-shadow 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out,
		-webkit-box-shadow 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out,
		box-shadow 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
		-webkit-box-shadow 0.25s ease-in-out;
}

.auth__btn:hover {
	background-color: #ffffff;
}

.auth__signup {
	font-size: 1.1rem;
	width: 100%;
	letter-spacing: 0.05em;
	margin-top: 1rem;
	color: #fff;
	-ms-flex-item-align: left;
	-ms-grid-row-align: left;
	align-self: left;
	font-family: Roboto Condensed;
	font-weight: 400;
	text-align: center;
}

.auth__signup:last-child {
	margin-top: 0.625rem;
}
.cr-orange {
	color: #fff500;
	transition: color 0.3s ease 0s;
}
.cr-orange:hover {
	color: #fff;
}
/* TARIFI */
.section-13 {
	overflow: visible;
	z-index: 99;
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: block;
	padding-top: 300px;
}
.block {
	min-width: 24.375rem;
	max-width: 85.5rem;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.offsets {
}
.lazy {
}
.scrollme {
}
.animateme {
}
.section-13 .image {
	width: 55.5rem;
	height: 46.1875rem;
	min-height: 46.1875rem;
	top: -10.125rem;
	left: -29.3125rem;
	position: absolute;
	z-index: 10;
	vertical-align: middle;
	border: 0;
	position: absolute;
	z-index: 10;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

.only-medium {
}
.scrollme-class {
}
.lazyloaded {
}
.section-13 .title {
	font-size: 9rem;
	line-height: 15rem;
	color: #fff500;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-family: Roboto Condensed, Arial, sans-serif;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
}
.section-13 .h2 {
	padding-top: 5rem;
	color: #fff;
	text-align: center;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
	font-size: 4.5rem;
	line-height: 4.5rem;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.section-13 .h2 .font {
	color: #fff500;
	display: block;
	font-family: Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-synthesis: none;
}
.section-13 .information {
	width: 47.5rem;
	padding: 4rem 1.5rem 0;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	position: relative;
	z-index: 100;
}
.section-13 .information span:first-child {
	width: 32.3125rem;
}
.section-13 .information span {
	font-size: 0.9375rem;
	line-height: 1.25rem;
	color: #fff500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: block;
}
.section-13 .information span:nth-child(2) {
	width: 8.75rem;
}
.section-13 .information span {
	font-size: 0.9375rem;
	line-height: 1.25rem;
	color: #fff500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: block;
}
.section-13 .information span:last-child {
	width: 8.75rem;
}
.section-13 .information span span {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	padding-top: 1rem;
	padding-right: 0.9375rem;
}
.section-13 .information span {
	font-size: 0.9375rem;
	line-height: 1.25rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: block;
}
.section-13 .rates .rate:hover {
	border-color: #fff500;
	-webkit-box-shadow: inset 0 0.25rem 5rem rgba(255, 245, 0, 0.4);
	box-shadow: inset 0 0.25rem 5rem rgba(255, 245, 0, 0.4);
}

.section-13 .information span:last-child,
.section-13 .information span:nth-child(2),
.section-13 .information span:nth-child(3),
.section-13 .information span:nth-child(4) {
	width: 8.75rem;
}
.section-13 .rates {
	width: 47.75rem;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.section-13 .rates .rate {
	padding: 1.5rem;
	border: 0.125rem solid transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-radius: 0.5rem;
	overflow: hidden;
	-webkit-transition: border-color 0.3s, -webkit-box-shadow 0.3s;
	-o-transition: border-color 0.3s, box-shadow 0.3s;
	transition: border-color 0.3s, box-shadow 0.3s;
	transition: border-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.section-13 .rates .rate .info:first-child {
	width: 32.3125rem;
}
.section-13 .rates .rate .info:first-child .name {
	font-size: 4rem;
	line-height: 4rem;
	color: #fff500;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-family: Roboto, Arial, sans-serif;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
}
.section-13 .rates .rate .info:first-child .address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.section-13 .rates .rate .info:first-child .address span {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.15);
	font-size: 0.625rem;
	line-height: 0.875rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-radius: 6.25rem;
	position: relative;
	padding: 0.125rem 0.375rem 0.125rem 0.375rem;
	margin: 0.25rem;
}
.section-13 .rates .rate .info:first-child .address span svg {
	fill: #fff;
	position: absolute;
	top: 50%;
	left: 0.1875rem;
	-webkit-transform: translateY(-50%) scale(0.6);
	-ms-transform: translateY(-50%) scale(0.6);
	transform: translateY(-50%) scale(0.6);
}
.svg.svg-icon-address {
	width: 0.75rem;
	height: 0.875rem;
	min-height: 0.875rem;
	-webkit-transition: fill 0.3s;
	-o-transition: fill 0.3s;
	transition: fill 0.3s;
}
.svg {
	fill: #413751;
	display: inline-block;
}
.section-13 .rates .rate .info:first-child .text {
	font-size: 1rem;
	line-height: 1.25rem;
	padding-top: 0.75rem;
}
.section-13 .rates .rate .info:first-child .text {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}
.section-13 .rates .rate .info:last-child,
.section-13 .rates .rate .info:nth-child(2),
.section-13 .rates .rate .info:nth-child(3),
.section-13 .rates .rate .info:nth-child(4) {
	width: 8.75rem;
}
.section-13 .rates .rate .info:last-child span:first-child,
.section-13 .rates .rate .info:nth-child(2) span:first-child,
.section-13 .rates .rate .info:nth-child(3) span:first-child,
.section-13 .rates .rate .info:nth-child(4) span:first-child {
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.section-13 .rates .rate .info:last-child span,
.section-13 .rates .rate .info:nth-child(2) span,
.section-13 .rates .rate .info:nth-child(3) span,
.section-13 .rates .rate .info:nth-child(4) span {
	display: block;
}
.section-13 .rates .rate .info:last-child span:last-child,
.section-13 .rates .rate .info:nth-child(2) span:last-child,
.section-13 .rates .rate .info:nth-child(3) span:last-child,
.section-13 .rates .rate .info:nth-child(4) span:last-child {
	font-size: 1rem;
	line-height: 1.25rem;
}
.section-13 .rates .rate .info:last-child span:last-child,
.section-13 .rates .rate .info:nth-child(2) span:last-child,
.section-13 .rates .rate .info:nth-child(3) span:last-child,
.section-13 .rates .rate .info:nth-child(4) span:last-child {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	padding-top: 0.25rem;
}
.section-13 .rates .rate .info:last-child span,
.section-13 .rates .rate .info:nth-child(2) span,
.section-13 .rates .rate .info:nth-child(3) span,
.section-13 .rates .rate .info:nth-child(4) span {
	display: block;
}
.font {
}
.information {
}
.rates {
}
.rate {
}
.info {
}
.name {
}
.address {
}
.svg {
}
.svg-icon-address {
}
.text {
}
.more {
}
.btn-default {
}
.btn-name {
}
.flare {
}
.modal {
	display: none;
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity 0.3s ease-in-out;
	padding: 100px 10px;
}
.modal-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}
.modal-content {
	box-shadow: inset 0 0.25rem 5rem;
	box-shadow: 0 1.5rem 7.5rem #fff500;
	border-radius: 0.5rem;
	position: relative;
	color: #ffffff;
	background-color: #000000;
	padding: 20px;
	width: 100%;
	max-width: 700px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.modal.show {
	display: block;
}

.modal.show .modal-content {
	opacity: 1;
}
.close {
	color: #fff500;
	float: right;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.no-scroll {
	overflow: hidden;
}
.popup__close {
	position: absolute;
	top: 0px;
	right: 5px;
	outline: 0;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
	border-radius: 20px;
}
.popup__cross {
	width: 35px;
	height: 35px;
}
.popup__title {
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
	color: #fff500;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.popup__item:not(:last-child) {
	margin-bottom: 1.25rem;
}
.popup__item {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	position: relative;
}
.popup__label {
	margin-bottom: 0.3125rem;
	font-size: 0.97rem;
	color: #fff;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: Roboto Condensed;
}
.select {
	position: relative;
}
.popup__input {
	height: auto;
	width: 100%;
	outline: 0;
	-webkit-transition: border-color 0.2s ease-in-out,
		-webkit-box-shadow 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out,
		-webkit-box-shadow 0.2s ease-in-out;
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding: 1rem;
	color: #fff;
	text-align: left;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border: 0.0625rem solid rgba(255, 255, 255, 0.25);
	border-radius: 0.5rem;
	background-color: transparent;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
}

.popup__btn {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff500;
	color: #000;
	border-radius: 0.25rem;
	min-height: 3.25rem;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25rem;
	letter-spacing: 0.2em;
	font-weight: 600;
	margin-top: 1.5rem;
	transition: background-color 0.3s;
	text-transform: uppercase;
	font-family: Roboto Condensed, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	width: 100%;
	-webkit-transition: background-color 0.25s ease-in-out,
		-webkit-box-shadow 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out,
		-webkit-box-shadow 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out,
		box-shadow 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
		-webkit-box-shadow 0.25s ease-in-out;
}
.popup__btn:hover {
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 5px rgba(236, 146, 0, 0.1);
	box-shadow: 0 0 5px rgba(236, 146, 0, 0.1);
}
.popup__input:focus {
	border-color: #fff500;
}
.popup__select {
	appearance: none;
	background-color: transparent;
	border: 0.0625rem solid rgba(255, 255, 255, 0.25);
	color: #333;
	border-radius: 3px;
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding: 1rem;
	color: #fff;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out,
		-webkit-box-shadow 0.2s ease-in-out;
	max-width: 100%;
	width: 140px;
}
.popup__select:focus {
	outline: none;
	border-color: #fff500;
}
select option {
	background-color: #f2f2f2;
	color: #333;
}

select option:hover {
	background-color: #ddd;
}
select option {
	font-size: 16px;
	padding: 8px 12px;
	margin-bottom: 5px;
}
select option:checked {
	background-color: #ddd;
	color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* game detail */
.game-detail {
	padding-top: 150px;
	padding-bottom: 50px;
}
.game-detail__container {
}

.game-detail__img {
	max-width: 350px;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border: 1px solid #c82fff7e;
	box-shadow: 0 0 20px rgba(198, 47, 255, 0.6);
	border-radius: 3px;
	object-fit: cover;
}
.font-purple {
	color: #c62fff;
	font-weight: 400;
	font-synthesis: none;
}
.game-detail__content {
	display: flex;
	flex-direction: column;
	font-size: 22px;
	line-height: 1.5;
	gap: 10px;
	font-family: 400;
	font-family: Roboto Condensed;
	border: 1px solid #c82fff7e;
	background-color: #721c913b;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 0 20px rgba(198, 47, 255, 0.6);
}
.game-detail__title {
	font-size: 30px;
	color: #fff500;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
}
.game-detail__title4 {
	font-size: 26px;
}
.game-detail__description {
}
/* Menu burger */

/* Review */
/* #reviews {
	width: 100%;
}
.reviews-title {
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	text-transform: uppercase;
}
#review-list {
	margin-top: 40px;
}
.review-item {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f0f0f0;
}

.review-item .name {
	font-weight: bold;
}

.review-item .date {
	font-size: 0.8em;
	color: #888;
}

#review-form {
	margin-top: 20px;
}
#review-form input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	border: none;
	outline: none;
	padding: 10px 15px;
	background: transparent;
	border: 0.125rem solid #c62fff;
	box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
	border-radius: 0.5rem;
	color: #fff;
}

#review-form textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	border: none;
	outline: none;
	padding: 10px 15px;
	background: transparent;
	border: 0.125rem solid #c62fff;
	box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
	border-radius: 0.5rem;
	color: #fff;
}

#review-form button {
}
.btn-review {
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	height: 45px;
	border: none;
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 20px;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	text-transform: uppercase;
	transition: background-color 0.3s ease 0s;
	border: 0.125rem solid #c62fff;
	box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
}
.btn-review:hover {
	background-color: #5d1379;
}
.section-reviews {
	padding-bottom: 10rem;
	z-index: 99;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.section-reviews,
.section-seventh {
	overflow: visible;
}
.section-reviews .animation {
	position: relative;
}

.section-reviews .animation .title {
	width: 100%;
	color: #c62fff;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15rem;
	line-height: 100%;
	text-align: center;
	text-shadow: 0 0.25rem 4.25rem rgba(198, 47, 255, 0.7);
	position: absolute;
	top: 9.9375rem;
	left: 0;
	z-index: 5;
}

.section-reviews .animation .title {
	font-family: Roboto Condensed, Arial, sans-serif;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-weight: 400;
}
.section-reviews .animation .img {
	width: 37.875rem;
	height: 37.9375rem;
	min-height: 37.9375rem;
	position: absolute;
	top: 3.625rem;
	left: 26.0625rem;
	z-index: 10;
}
.section-reviews .scrollme {
	position: relative;
	z-index: 100;
}
.section-reviews .h2 {
	padding-top: 29.5rem;
	text-align: center;
	position: relative;
	z-index: 100;
	font-size: 4rem;
	line-height: 4rem;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.section-reviews .h2 .font {
	display: block;
	font-family: Roboto Condensed, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #c62fff;
	font-weight: 400;
	font-synthesis: none;
}
.section-reviews .items {
	width: 56rem;
	padding-top: 1rem;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.section-reviews .items .item {
	padding: 3rem;
	margin-top: 3rem;
	background-color: #000;
	border: 0.125rem solid #c62fff;
	-webkit-box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
	box-shadow: inset 0 0.25rem 5rem rgba(198, 47, 255, 0.6);
	border-radius: 0.5rem;
	max-width: 896px;
}
.section-reviews .items .item .autor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.section-reviews .information .info,
.section-reviews .items .item .autor .name,
.section-reviews .items .item .more,
.section-reviews .ymap {
	font-size: 1.125rem;
	line-height: 1.5rem;
}
.section-reviews .items .item .autor .name {
	color: #c62fff;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-shadow: 0 0.25rem 1.75rem rgba(198, 47, 255, 0.5);
}
.section-reviews .items .item .text {
	padding: 1.5rem 0;
	font-size: 18px;
	line-height: 1.625rem;
	word-wrap: break-word;
}
.section-reviews .items .item .text p:first-child {
	padding-top: 0;
} */
@media only screen and (max-width: 1258px) {
	.footer .content .social:not(:last-child)::before {
		content: none;
	}
	.footer .content:nth-child(2) .social {
		width: 15.875rem;
	}
}
@media only screen and (max-width: 1197px) {
	.hidden-img {
		display: none !important;
	}
	.section-ninth .items {
		width: 100%;
	}
	.section-contacts .contacts {
		width: 100%;
	}
}
@media only screen and (max-width: 1197px) {
	.games__categories {
		gap: 10px;
	}
	.devices__item {
		display: flex;
		flex-direction: column;
		border: 1px solid #fff500;
		height: auto;
	}
	.devices__img {
		width: 100%;
	}
	.devices__name {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 1108px) {
	.decies__description {
		font-weight: 400;
		line-height: 1.4;
		font-size: 16px;
	}
}
@media only screen and (max-width: 767px) {
	body {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.hero-main-text {
		padding-top: 1.5rem;
		font-size: 2rem;
		line-height: 2rem;
	}
	.hero-footer-text {
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: 0.1em;
		padding-top: 0rem;
		width: 100%;
	}
	.section-second .logos {
		width: 62.5rem;
		margin-top: 25.9375rem;
	}
	.section-hero {
		padding: 7.75rem 0 4.5rem;
	}
	.desctop img {
		display: none;
	}
	.desctop::before {
		content: none;
	}
	.desctop::after {
		content: none;
	}
	.hero-block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}
	.section-second .block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}
	.section-second .items .item {
		width: 10.4375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.section-third {
		padding: 20rem 0 0;
	}
	.section-third .block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}

	.section-third .content .title {
		font-size: 2.75rem;
		line-height: 2.75rem;
	}
	.section-third .content .text {
		font-size: 1.125rem;
		line-height: 1.5rem;
		padding-top: 2rem;
	}
	.section-third .block .img {
		display: none !important;
	}
	.hidden-img {
		display: none !important;
	}
	.section-ninth {
		padding: 10rem 0 9.1875rem;
	}
	.section-ninth .block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}
	.section-ninth .block .h2 {
		font-size: 2rem;
		line-height: 2rem;
	}
	.section-ninth .items {
		padding-top: 0rem;
	}
	.section-ninth .items .item:first-child {
		margin-top: 0;
	}
	.section-ninth .items .item {
		height: 25rem;
	}
	.section-ninth .items .item .content {
		padding: 3rem 1.5rem;
	}
	.section-ninth .items .item {
		height: 25rem;
		margin-top: 1.5rem;
	}
	.section-13 {
		padding-top: 10rem;
	}
	.section-13 .block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}
	.section-13 .image {
		width: 20.8125rem;
		height: 17.375rem;
		min-height: 17.375rem;
		top: -4rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.section-13 .title {
		font-size: 3.625rem;
		line-height: 3.625rem;
	}
	.section-13 .h2 {
		position: relative;
		z-index: 100;
		padding-top: 4rem;
		font-size: 2rem;
		line-height: 2rem;
	}
	.section-13 .information {
		padding: 4rem 1.2rem 0;
	}
	.section-13 .information span:first-child {
		width: 100%;
	}
	.section-13 .information span {
		font-size: 0.625rem;
		line-height: 0.875rem;
	}
	.section-13 .information span:nth-child(2) {
		width: 4rem;
	}
	.section-13 .information span:nth-child(3) {
		width: 4rem;
	}
	.section-13 .information span:last-child {
		width: 4rem;
	}
	.section-13 .rates .rate {
		padding: 1rem;
	}
	.section-13 .rates .rate .info:first-child {
		width: 100%;
	}
	.section-13 .rates .rate .info:first-child .name {
		font-size: 2rem;
		line-height: 2rem;
	}
	.section-13 .rates .rate .info:first-child .address {
		display: none;
	}
	.section-13 .rates .rate .info:first-child .text {
		font-size: 0.875rem;
		line-height: 1rem;
		padding-top: 1rem;
	}
	.section-13 .rates .rate .info:last-child,
	.section-13 .rates .rate .info:nth-child(2) {
		padding-top: 1rem;
	}
	.section-13 .rates {
		width: 100%;
	}
	.section-13 .information {
		width: 100%;
	}
	.section-contacts .block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}
	.section-contacts .block .animateme .h2 {
		font-size: 1.8rem;
		line-height: 1.8rem;
	}
	.section-contacts .subtitle .item:first-child {
		font-size: 1.25rem;
		line-height: 1.625rem;
		text-align: right;
	}
	.section-contacts .subtitle .item img {
		left: 25%;
	}
	.footer .block {
		min-width: 24.375rem;
		max-width: 24.375rem;
		padding: 0 1rem;
	}
	.footer .content:first-child .option .logo {
		width: 100%;
		height: 2.5rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}
	.content:first-child .option .logo img {
		width: 9.9375rem;
		height: 2.5rem;
		min-height: 2.5rem;
	}
	.only-medium {
		display: none !important;
	}
	.content:first-child .contacts .phones {
		text-align: center;
		padding: 1rem 0;
		margin: 0 auto;
	}
	.footer .content:nth-child(2) {
		text-align: center;
		padding: 2.5rem 0;
		margin-top: 2.5rem;
	}
	.footer .content:nth-child(2) .social:first-child {
		border: 0;
		padding-top: 0;
		margin-top: 0;
	}
	.footer .content:nth-child(2) .social {
		border-top: 0.0625rem solid rgba(255, 255, 255, 0.15);
		padding-top: 1.5rem;
		margin-top: 1.5rem;
		width: 22.875rem;
	}
	.footer .content .social:not(:last-child)::before {
		content: none;
	}
	.footer .content:nth-child(3) {
		padding: 2.5rem 0 3rem;
	}
	.footer .content:nth-child(3) ul {
		text-align: center;
	}
}
