.orange-text-lg {
	color: #fff500;
	font-size: 16px;
	line-height: 2rem;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-shadow: 0 0.25rem 1.75rem rgba(255, 245, 0, 0.5);
	transition: color 0.3s;
}
